@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;800;900&display=swap");

:root {
  font-family: "Inter", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: black;
}

.App {
  padding: 40px;
  position: relative;
  overflow: hidden;
}

svg text {
  font-size: 80px;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 8px;

  fill: black;
  stroke: #fff;
  stroke-width: 2px;
  animation:
    animated-stroke 4s,
    animated-fill 4s;
  text-anchor: middle;
}

.thankyou {
  fill: #810e75 !important;
  stroke: #810e75;
}

@keyframes animated-stroke {
  0% {
    stroke-dasharray: 0 80%;
  }
  100% {
    stroke-dasharray: 10% 0%;
    stroke-dashoffset: 25%;
  }
}

@keyframes animated-fill {
  0%,
  20% {
    fill: transparent;
  }
  100% {
    fill: black;
  }
}

.circle {
  animation: circleScale 800ms infinite alternate ease-in-out;
}

@keyframes circleScale {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.2);
  }
}
